ul li {
    display: inline-block;
    background-color: #eee;
    list-style-type: none;
    margin-right: -4px;
    padding: 10px;
    border-right: 1px solid white;
}

#app {
    margin: 20px;
}

#form {
    padding: 40px;
    background: #eee;
}
